# Groq API Key
# Получите ключ на https://console.groq.com
GROQ_API_KEY=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

# Опциональные настройки
# GROQ_MODEL=llama-3.3-70b-versatile
# GROQ_TEMPERATURE=0.7
# GROQ_MAX_TOKENS=1024
